[tool.ruff]
line-length = 100
target-version = "py312"

[tool.ruff.lint]
select = ["E", "F", "W", "I"]  # errores, warnings, importaciones

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
